body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    border: 1px solid red;
}

.header {
    display: flex;
    border: 1px solid red;
}

.hero-header {
    display: flex;
    flex: 1;
    border: 1px solid red;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 1px solid red;
}

.cont-1 {
    display: flex;
    flex: 3;
    border: 1px solid red;
}

.cont-2 {
    display: flex;
    flex: 3;
    border: 1px solid red;
}

.cont-3 {
    display: flex;
    flex: 3;
    border: 1px solid red;
}

.footer {
    display: flex;
    margin-top: auto;
    border: 1px solid red;
}